t Alternates', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Hind', sans-serif;
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

@font-face {
    font-family: Gotham Black;
    src: url('../fonts/Gotham-black-1-opentype.otf');
}

@font-face {
    font-family: Gotham Bold;
    src: url('../fonts/Gotham-bold-opentype.otf');
}

@font-face {
    font-family: Gotham Book;
    src: url('../fonts/Gotham-book.ttf');
}

@font-face {
    font-family: Gotham Extralight;
    src: url('../fonts/Gotham-extralight-opentype.otf');
}

@font-face {
    font-family: Gotham Light;
    src: url('../fonts/Gotham-light.ttf');
}

.gotham-black {
    font-family: Gotham Black;
}

.gotham-bold {
    font-family: Gotham Bold;
}

.gotham-book {
    font-family: Gotham Book;
}

.gotham-extralight {
    font-family: Gotham Extralight;
}

.gotham-light {
    font-family: Gotham Light;
}

.montserrat {
    font-family: 'Montserrat', sans-serif !important;
}

.monserrat-alt {
    font-family: 'Montserrat Alternates', sans-serif !important;
}

.lato {
    font-family: 'Lato', sans-serif !important;
}

.source-sans {
    font-family: 'Source Sans Pro', sans-serif !important;
}

.noto-sans {
    font-family: 'Noto Sans', sans-serif !important;
}

.hind {
    font-family: 'Hind', sans-serif !important;
}

.hind-siliguri {
    font-family: 'Hind Siliguri', sans-serif !important;
}

.open-sans {
    font-family: 'Open Sans', sans-serif !important;
}

.raleway {
    font-family: 'Raleway', sans-serif !important;
}

.roboto {
    font-family: 'Roboto', sans-serif !important;
}

.roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif !important;
}



body {
    
}

